git/gitconfig.symlink

software/weechat.symlink/logs/*
!software/weechat.symlink/logs/.gitkeep
software/weechat.symlink/irc.conf
software/weechat.symlink/weechat.log

system/vim.symlink/.netrwhist

system/i3.symlink/config

